/c/projects/Digits/API/flask_api/flask_api/env/*
/c/projects/Digits/API/flask_api/flask_api/venv/*
/c/projects/Digits/API/flask_api/flask_api/__pycache__/*

/c/projects/Digits/reactproject1/reactproject1/node_modules/*
/c/projects/Digits/reactproject1/reactproject1/obj/*